<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div id="map" style="height: 400px; width: 100%"></div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>

<script>
  // Directly initialize the map since this partial is rendered at the end
  var map = L.map("map").setView([37.7749, -122.4194], 13);

  // Add OpenStreetMap tiles
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  // Add a marker to San Francisco
  //   L.marker([37.7749, -122.4194])
  //     .addTo(map)
  //     .bindPopup("San Francisco")
  //     .openPopup();
</script>
